#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

button {
  background: orange;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin: 4px;
}